body
{
    background: linear-gradient(to right, #F0CB35, #C02425);    
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

.a
{
    background-color: white;
    width: 350px;
    height: 30px;
    border-radius: 20px;
}

h3
{
    width: 400px;
    height: 50px;
    border-radius: 20px;
}

a:link {
    color: black;
}